@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');


.welcome{
    font-family: 'VT323', monospace;
    font-size: 3vh;
    text-align: center;
    background-color: black; 
    color: white;
    margin-right: 2vh;
    padding: 10px;
    height: 94vh;
}
.header{
    font-family: 'VT323', monospace;
    color: yellow;
    font-size: 4vh;
    font-weight: bold;
    text-align: center;
}
.keyfound{
    font-family: 'VT323', monospace;
    color: white;
    font-size: 5vh;
    text-align: center;
    background-color: black;
}
.welcome img{
    margin-top: 3vh;
    width: 60vw;
    height: 40vh;
    border: dotted;
    animation: blink .5s step-end infinite alternate;
}
.pave{
    text-align: center;
}

.red{
    color: red;
}

@keyframes blink { 
    50% { border-color: #ff0000; } 
 }

button {
    font-family: 'VT323', monospace;
    background-color: white;
    border: dotted 5px white;
    font-size: 5vh;
    animation: blink .5s step-end infinite alternate;
}
