body{
  height: 303px;
  width: 100vw;
}

.row{
  display: flex;
  flex-direction: row;
  border: solid 1px blue;
  flex-wrap: wrap;
  width: 100%;
}

.case {
  text-align: center;
  border: solid;
  width: 6.3%;
  height: 15vh;
}
