body{
  height: 303px;
  width: 100vw;
}

.row{
  display: flex;
  flex-direction: row;
  border: solid 1px blue;
  flex-wrap: wrap;
  width: 1500px;
}

.case {
  text-align: center;
  border: solid;
  width: 6.4%;
  height: 15vh;
}
