body{
  background-color: black;
}

.row{
  display: flex;
  flex-direction: row;
  border: solid 1px blue;
  flex-wrap: wrap;
}

img{
  max-height: 50%;
}
.case {
  text-align: center;
  border: solid;
  width: 33%;
}
